header{
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}
.s1{
  text-align: center;
  position: relative;
  margin-top: 1rem;
  *{
    display: inline-block;
    vertical-align: middle;
  }
  .figure,.generic-icon{
    position: absolute;
    top: .8rem;
  }
  .figure{
    left: .4rem;
  }
  .generic-icon{
    right: .2rem;
  }
}

svg{
  g#trazo path{
    fill:none;
    stroke:#fff;
    stroke-dasharray: 1200px;
    stroke-dashoffset: 1200px;
    stroke-width:0;
    will-change:stroke-dashoffset,stroke-width;
    animation:palacio 4.75s ease-in forwards .5s;
  }
}
@keyframes palacio{
  0% {
    stroke-dashoffset: 1200
  }
  33% {
    stroke-width:3;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width:6;
  }
}
