header{
  background-color: black;
  border:1px solid @ladrillo;
  color: white;
  text-align: center;
  padding: 1rem;
}

@ladrillo: #cf3e26;
@azulejo: darkcyan;

@font-face {
    font-family: 'arctik';
    src: url('../font/arctik_2-webfont.woff2') format('woff2'),
         url('../font/arctik_2-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f2f2f2;
  font-family: 'arctik';
  h4{
    color:@ladrillo;
  }
}

.box {
  background-color: white;
  border: 0.2rem solid #eee;
  padding: 0.5rem;
}
.custom_row {
  text-align: center;
  width: 100%;
}
.col12,
.col-8,
.col-6,
.col-4,
.col-2 {
  display: inline-block;
  text-align: left;
  min-width: 450px;
  vertical-align: top;
}
.col-12 {
  width: 95%;
}
.col-8 {
  width: 75%;
}
.col-6 {
  width: 55%;
}
.col-4 {
  width: 35%;
}
.col-2 {
  width: 15%;
}
