.btn-h-plank {
  border: 0.1rem solid #eee;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
}
.selectable {
  cursor: pointer;
  transition: transform ease-in 300ms, -webkit-transform ease-in 300ms;
}
.selectable:hover {
  transform: translateX(0.3rem);
  -webkit-transform: translateX(0.3rem);
}
.box {
  background-color: #fff;
  margin: 0.5rem 0.3rem;
  padding: 0.5rem;
  position: relative;
}
.box strong {
  font-weight: 100;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}
.box .title_strong {
  font-size: 0.8rem;
}
.box figure,
.box .description,
.box .preciador {
  display: inline-block;
  vertical-align: top;
}
.box figure small,
.box .description small,
.box .preciador small {
  color: gray;
}
.box figure .codigo,
.box .description .codigo,
.box .preciador .codigo {
  text-transform: uppercase;
}
.box figure input,
.box .description input,
.box .preciador input {
  border-radius: 9px;
  border: 1px solid silver;
  padding: 0.2rem;
  width: 2rem;
}
.box .preciador {
  position: absolute;
  right: 0.3rem;
  text-align: right;
}
.box .preciador * {
  display: block;
}
.box .preciador .antes {
  color: #737373;
  display: none;
  text-decoration: line-through;
  font-size: 0.8rem;
  font-weight: 100;
}
.box .preciador .disp {
  color: #78dc99;
  display: none;
  font-size: 0.65rem;
  font-weight: 100;
}
.box .generic-icon {
  display: inline-block;
  text-align: center;
  width: 3rem;
}
.btn-h-plank > p,
.btn-h-plank > div {
  display: inline-block;
  vertical-align: middle;
}
.ticket-general {
  padding: 0.4rem 0.4rem;
  position: relative;
}
.ticket-general .custom-row {
  text-align: left;
  margin: 0.3rem;
}
.ticket-general span {
  position: absolute;
  right: 0.4rem;
}
.ticket-general .title_strong {
  display: inline-block;
}
header {
  background-color: black;
  border: 1px solid #cf3e26;
  color: white;
  text-align: center;
  padding: 1rem;
}
.s1 {
  text-align: center;
  position: relative;
  margin-top: 1rem;
}
.s1 * {
  display: inline-block;
  vertical-align: middle;
}
.s1 .figure,
.s1 .generic-icon {
  position: absolute;
  top: 0.8rem;
}
.s1 .figure {
  left: 0.4rem;
}
.s1 .generic-icon {
  right: 0.2rem;
}
svg g#trazo path {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 1200px;
  stroke-dashoffset: 1200px;
  stroke-width: 0;
  will-change: stroke-dashoffset, stroke-width;
  animation: palacio 4.75s ease-in forwards 0.5s;
}
@keyframes palacio {
  0% {
    stroke-dashoffset: 1200;
  }
  33% {
    stroke-width: 3;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 6;
  }
}
@font-face {
  font-family: 'acherus';
  src: url('../font/acherusgrotesque-regular-webfont.woff2') format('woff2'), url('../font/acherusgrotesque-regular-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f4f4f4;
  font-family: 'acherus';
}
body h1,
body .title_strong {
  font-weight: 600;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}
body h1 {
  text-align: center;
  font-size: initial;
}
body h4,
body p,
body small,
body strong {
  line-height: 1.2rem;
  margin: 0;
}
body hr {
  border: 1px #f4f4f4 solid;
}
.btn-disabled {
  background: gray;
  border: none;
  border-radius: 0.1rem;
  box-shadow: 0px 2px 12px -4px rgba(0, 0, 0, 0.5);
  color: darkgray;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0 2rem 0;
  padding: 0.8rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.custom_row {
  text-align: center;
  margin: 0.5rem;
}
.custom_row .icon-generic,
.custom_row h4,
.custom_row .preciador {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.col12,
.col-8,
.col-6,
.col-4,
.col-2 {
  display: inline-block;
  text-align: left;
  min-width: 450px;
  vertical-align: top;
}
.col-12 {
  width: 95%;
}
.col-8 {
  width: 75%;
}
.col-6 {
  width: 55%;
}
.col-4 {
  width: 35%;
}
.col-2 {
  width: 15%;
}
@media (max-width: 500px) {
  .col-4 {
    min-width: unset;
    width: 100%;
  }
  .s2 {
    margin-top: 122px;
  }
  .s2 .box {
    margin: 0.5rem 0;
    min-width: unset;
    width: 95%;
    padding-top: 0;
  }
  .s2 .box h4 {
    color: #cf3e26;
    font-size: 0.9rem;
    width: 11rem;
  }
  .s2 .box .head-product {
    width: 100%;
  }
  .s2 .box .head-product .photo {
    height: 9rem;
    margin: 0 0 0.9rem 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
  }
  .s2 .box .head-product .photo img {
    position: relative;
    bottom: 8rem;
    width: 100%;
  }
  .s2 .box .antes {
    display: block;
  }
  .s2 .box .disp {
    display: block;
  }
  .actions {
    position: absolute;
    left: 0;
    margin: 0 0.7rem;
    top: 214px;
    width: 96%;
  }
  .ticket-general {
    position: static;
  }
}
